body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(54, 49, 49);
}

.messages{
    display: grid;
    grid-template-columns: auto auto auto;
}

.message{
    display:flex;
    flex-direction: column;
    border-color: cadetblue;
    background-color: aqua;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    max-width: 480px;
    overflow-wrap: break-word;
}
.userForm{
    display:flex;
    flex-direction: column;
    border-color: cadetblue;
    background-color: aqua;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    max-width: 480px;
}
.clubForm{
    display:flex;
    flex-direction: column;
    border-color: cadetblue;
    background-color: aqua;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.signUp{
    display:flex;
    flex-direction: column;
    border-color: cadetblue;
    background-color: aqua;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.logIn{
    display:flex;
    flex-direction: column;
    border-color: cadetblue;
    background-color: aqua;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
textarea{
    width: 400px;
    height: 100px;
}
a:link{
    color:crimson;
}
a:visited{
    color:crimson
}

label{
  
    overflow-wrap: break-word;
}