<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="/styles.css" />
  
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  
</head>
<body>
  <script>0</script>
  <h1>Log In </h1>
  <form class ="logIn" action="/logIn" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <button>Log In</button>
  </form>
</body>
</html>